@charset "utf-8";

/* @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700); */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url(../fonts/open-sans.woff2) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(../fonts/lato.woff2) format('woff2');
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
}

body, h1, h2, h3, h4, h5, h6, .button, input[type="button"], input[type="submit"],
	input[type="text"], input[type="password"], input[type="email"],
	textarea, select {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #555;
}

h1 {
	font-size: 28px;
	line-height: 50px;
}

h2 {
	font-size: 22px;
	line-height: 30px;
}

h3 {
	font-size: 16px;
	line-height: 30px;
}

h4 {
	font-size: 14px;
	line-height: 30px;
}

h5 {
	font-size: 10px;
	line-height: 21px;
}

h6 {
	font-size: 12px;
	line-height: 24px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: #555;
}

a:focus {
	outline: none;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.navbar-nav ul {
	width: 100%;
	min-width: 187px !important;
	padding: 0;
}

.navbar-nav>li>ul.dropdown-menu {
	top: 52px !important;
}

.navbar-toggle {
	background: #303436;
	border: none;
	padding: 10px 10px;
	border-radius: 3px;
	margin-top: 5px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background: #303436;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
	height: 3px;
}

.navbar {
	margin-bottom: 0;
	background: #323A45;
	min-height: 35px;
	border: none;
}

/* sub menus arrows */
.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow {
	position: static;
	margin-top: 0;
	margin-right: 0;
	margin-left: 6px;
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px dashed transparent;
	border-bottom: 4px dashed transparent;
	border-left: 4px dashed transparent;
}

.navbar-nav>li>.has-submenu .sub-arrow {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	width: 8px;
	height: 8px;
	line-height: 8px;
	border-width: 0px;
}

.navbar-nav>li>.has-submenu .sub-arrow:before {
	content: "\f107";
}

.navbar-nav ul .sub-arrow {
	position: absolute;
	right: 0;
	margin-top: 6px;
	margin-right: 15px;
	border-top: 4px dashed transparent;
	border-bottom: 4px dashed transparent;
	border-left: 4px solid;
}

.navbar-nav ul a.has-submenu {
	padding-right: 30px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}

.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
	position: absolute;
	display: none;
	visibility: hidden;
	height: 20px;
	overflow: hidden;
	text-align: center;
}

.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
	position: absolute;
	top: -2px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 7px dashed transparent;
	border-right: 7px dashed transparent;
	border-bottom: 7px solid;
	border-left: 7px dashed transparent;
}

.navbar-nav {
	border-right: 1px solid #19222d;
	border-left: 1px solid #425166;
}

.navbar-nav span.scroll-down-arrow {
	top: 6px;
	border-top: 7px solid;
	border-right: 7px dashed transparent;
	border-bottom: 7px dashed transparent;
	border-left: 7px dashed transparent;
}

.navbar-default .navbar-nav li a {
	color: #555;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
}

.navbar-default .navbar-nav>li {
	border-left: 1px solid #19222d;
	border-right: 1px solid #425166;
}

.navbar-default .navbar-nav>li>a {
	padding: 14px 25px;
	color: #fff;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li.active>a,
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
	background: #0083ae !important;
	color: #fff !important;
}

.navbar-nav .collapsible ul .dropdown-menu>li>a, .navbar-nav .collapsible ul .dropdown-menu .dropdown-header
	{
	padding-left: 35px;
}

.navbar-nav .collapsible ul ul .dropdown-menu>li>a, .navbar-nav .collapsible ul ul .dropdown-menu .dropdown-header
	{
	padding-left: 45px;
}

.navbar-nav .collapsible ul ul ul .dropdown-menu>li>a, .navbar-nav .collapsible ul ul ul .dropdown-menu .dropdown-header
	{
	padding-left: 55px;
}

.navbar-nav .collapsible ul ul ul ul .dropdown-menu>li>a, .navbar-nav .collapsible ul ul ul ul .dropdown-menu .dropdown-header
	{
	padding-left: 65px;
}

.navbar-nav>li>ul:before {
	content: "";
	position: absolute;
	border: 11px solid transparent;
	border-bottom-color: #0083ae;
	top: -22px;
	left: 36%;
}

.navbar-nav>li ul>li:first-child {
	border-top: 2px solid #0083ae;
}

.navbar-nav .dropdown-menu>li>a {
	white-space: normal;
	font-size: 13px;
	padding: 12px 20px;
	border-bottom: 1px solid #e4e4e4;
}

.navbar-nav .dropdown-menu>li>a:hover {
	color: #0083ae;
}

.navbar-nav ul.sm-nowrap>li>a {
	white-space: nowrap;
}

.navbar-nav .collapsible ul {
	display: none;
	position: static !important;
	top: auto !important;
	left: auto !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	width: auto !important;
	min-width: 0 !important;
	max-width: none !important;
}

.navbar-nav .collapsible ul.sm-nowrap>li>a {
	white-space: normal;
}

.navbar-nav .collapsible iframe {
	display: none;
}

ul.sm li *, ul.sm li *:before, ul.sm li *:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	border-color: transparent !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
	{
	background-color: #fff;
}

.footer {
	background: #323A45;
	padding: 5px 0 20px 0;
	position: relative;
	color: #fff;
}

.widget_content>p {
	font-family: Pt Sans, Lato;
	font-size: 14px;
}

.contact-details-alt {
	padding: 0;
}

.contact-details-alt li {
	list-style: none;
}

.contact-details-alt li p strong {
	color: #fff;
	font-size: 12px;
}

.contact-details li p strong {
	color: #666;
	float: left;
	margin: 0 5px 5px 0;
}

.contact-details-alt li {
	margin: 0 0 5px 0;
}

.contact-details p, .contact-details li, .contact-details a {
	color: #666;
}

.contact-details-alt p {
	line-height: 18px;
	width: 100%;
	margin: 0;
}

.contact-details-alt p a {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 12px;
}

.contact-details-alt p a:hover {
	color: #919191;
}

.contact-details-alt li i {
	float: left;
	font-size: 12px;
	margin: 2px 0 0 0;
	width: 15px;
}

.footer li a:hover {
	color: #0083ae;
}

.divider {
	position: relative;
	display: block;
	height: 30px;
}

input[type="submit"] {
	color: #fff !important;
}

.form-control {
	height: 46px;
	border-radius: 0;
	padding: 12px;
	margin-bottom: 3px;
}

.form-control:focus, #site-searchform #s:focus {
	border-color: #0083ae;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(231, 76, 60, 0.6);
	outline: none;
}

label {
	margin-bottom: 10px;
	font-weight: bold;
}

blockquote {
	font-size: 14px;
}

.btn-default {
	background: #0083ae;
	color: #fff;
	border: none;
	border-radius: 2px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.btn-default[disabled], .btn-default.disabled {
	background: #7ca8c9;
	opacity: 0.65;
}

.btn-default:hover {
	background: #D23928;
	color: #fff;
}

.nav-tabs {
	border: none;
}

.nav-tabs>li>a {
	background: #F8F8F8;
	border: 1px solid #ebebeb;
	margin: 0;
	color: #777777;
	border-radius: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	border-color: #ebebeb;
	outline: none;
	background: white;
	color: #0083ae;
	margin: 0 0 -1px 0;
	border-bottom: none;
	border-top: 1px solid #0083ae;
}

.nav-tabs li.active, .nav-tabs li.active a, .nav-tabs li.active a:hover
	{
	border-top: 1px solid #0083ae;
	color: #0083ae;
}

ul.nav-tabs li a i {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

ul.nav-tabs li.last-tab a {
	padding: 4px 22px;
	outline: none;
}

.tab-content {
	border: 1px solid #ebebeb;
	padding: 20px 14px;
}

.tab-content:first-child {
	display: block;
}

.tab-content>h3 {
	color: #555333;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	margin-top: 0;
}

.tab-content>p {
	font-family: lato;
	line-height: 20px;
}

.sidebar-tab {
	margin-bottom: 30px;
}

.panel-heading, .panel-group .panel {
	border-radius: 0;
}

.panel-heading {
	padding-right: 6px;
	padding-left: 6px;
}

.panel.active_acc {
	border-top-color: #0083ae;
}

.active_acc .panel-title a, .active_acc .accordian-icon {
	color: #0083ae;
}

.panel.active_acc {
	border-top-color: #0083ae;
}

.panel-heading:hover  a, .panel-heading:hover .accordian-icon {
	color: #0083ae;
}

.accordian-icon {
	float: left;
	padding: 0 8px;
}

.panel-default>.panel-heading {
	background: none;
}

.panel-title>a {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0;
	color: #585858;
	display: block;
	outline: none;
	text-decoration: none;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
	border-top: none;
}

blockquote.default {
	border-color: #0083ae;
	color: #666;
	background: #f2f2f2;
	font-size: inherit;
}

.btntoTop {
	width: 44px;
	height: 44px;
	position: fixed;
	bottom: 60px;
	right: 30px;
	background-color: #323a45;
	border-radius: 2px;
	border: #5b6a7d solid 1px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	z-index: 1060;
}

.btntoTop:before {
	content: "\f106";
	display: inline-block;
	padding-top: 10px;
	font: 20px 'FontAwesome';
	color: white;
}

.btntoTop.active {
	opacity: 1;
}

.btntoTop.active:hover {
	opacity: 0.8
}

@media only screen and (min-width: 980px) and (max-width: 1280px) {
	/*.menu ul > li > a { padding-right:10px; padding-left:10px; }*/
	.names {
		font-size: 14px
	}
	.team_social {
		margin: 37% 0 0 29%;
	}
	.blog_medium .post_img {
		width: 30%;
	}
	.shares li.shareslabel h3 {
		padding: 8px 14px;
	}
	.comment_form>input {
		width: 30%;
	}
	.large-images .recent-item:hover a.hover-zoom, .medium-images .recent-item:hover a.hover-zoom,
		.small-images .recent-item:hover a.hover-zoom {
		left: 22%;
		top: 38%;
	}
	.large-images .recent-item:hover a.hover-link, .medium-images .recent-item:hover a.hover-link,
		.small-images .recent-item:hover a.hover-link {
		right: 22%;
		top: 38%;
	}
	.recent-item h5 {
		margin: 0 0 44% !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 989px) {
	#logo {
		margin: 0;
		width: 78px;
	}
	.navbar-default .navbar-nav li a {
		padding: 14px;
	}
	.recent-item h5 {
		margin-top: 20px;
	}
	.large-images .recent-item:hover a.hover-zoom, .large-images .recent-item:hover a.hover-link,
		.medium-images .recent-item:hover a.hover-zoom, .medium-images .recent-item:hover a.hover-link,
		.small-images .recent-item:hover a.hover-link, .small-images .recent-item:hover a.hover-zoom,
		.jcarousel .recent-item:hover a.hover-zoom, .jcarousel .recent-item:hover a.hover-link
		{
		top: 41%;
		opacity: 1;
	}
	.large-images .recent-item:hover a.hover-zoom, .medium-images .recent-item:hover a.hover-zoom,
		.small-images .recent-item:hover a.hover-zoom {
		left: 20%;
	}
	.large-images .recent-item:hover a.hover-link, .medium-images .recent-item:hover a.hover-link,
		.small-images .recent-item:hover a.hover-link {
		right: 20%;
	}
	#myTabContent {
		margin-bottom: 30px;
	}
	.team_social {
		margin: 37% 0 0 29%;
	}
}

@media only screen and (max-width:768px) {
	.nascondi_visualizza_elemento {
		visibility: hidden !important;
		display: none !important;
	}
}

@media only screen and (min-width:768px) {
	.nascondi_visualizza_elemento {
		visibility: visible !important;
		display: block !important;
	}
}

@media only screen and (max-width:768px) {
	#logo a img {
		height: auto;
	}
	.nav-tabs>li>a {
		padding: 10px 10px;
	}
	.serviceBox_1, .serviceBox_2, .serviceBox_3 {
		margin-bottom: 30px;
	}
	.team_social {
		margin: 37% 0 0 42%;
	}
	.blog-hover>a {
		top: 30%;
	}
	.blog_medium .post_content {
		width: 45%;
	}
	.shares li.shareslabel h3 {
		padding: 8px 14px;
	}
}

@media only screen and (max-width: 767px) {
	#logo-bar {
		display: none;
	}
	#logo {
		margin: 7px 0 7px 15px;
	}
	.logo_header {
		margin: 8px;
	}
	.navbar {
		/*background:#fff;*/
		border-color: transparent;
	}
	.navbar.scroll-to-fixed-fixed {
		box-shadow: 0 0 10px #9c9999;
	}
	.navbar-nav {
		background: #303436;
		margin: 0;
	}
	.navbar-collapse {
		position: absolute;
		width: 100%;
	}
	.navbar-nav>li ul>li:first-child>a {
		border-top: none;
	}
	.navbar-default .navbar-nav>li>a, .navbar-nav .dropdown-menu>li>a {
		padding-top: 12px !important;
		padding-bottom: 12px !important;
		border-top: 1px solid #464c4f !important;
		border-bottom: none !important;
	}
	.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		padding-left: 45px;
		color: #fff;
		font-size: 13px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		background: #0083ae;
		color: #fff;
	}
	.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow {
		float: right;
		color: #fff;
	}
	.navbar-nav>li>ul:before {
		content: "";
		display: none;
	}
	.navbar-nav>li>.has-submenu .sub-arrow {
		font-size: 14px;
		font-weight: bold;
		width: 10px;
	}
	.page_head {
		padding: 20px 0;
	}
	.page_head h2 {
		font-size: 20px;
	}
	#breadcrumbs {
		float: left;
		width: 100%;
	}
	#breadcrumbs ul {
		float: left;
		margin-bottom: 0;
	}
	.serviceBox_1, .serviceBox_3 {
		margin-bottom: 30px;
	}
	.list_style li i {
		margin-right: 0;
	}
	ul.client_items {
		display: block;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
	.list_item {
		width: 100%;
	}
	.jcarousel-list li {
		width: 99%;
	}
	.promo_box a {
		display: block;
		float: none;
		margin-top: 20px;
		position: relative;
		text-align: center;
	}
	.promo_content .pb_text, .promo_content .pb_action {
		display: block;
		padding: 0;
	}
	.promo_content a {
		display: block;
		float: none;
		color: #fff;
		margin-top: 20px;
	}
	.list_style {
		margin: 0 0 30px;
	}
	.pricingTable {
		margin-bottom: 50px;
	}
	.blog_large .post_meta h2 a, .blog_single .post_meta h2 a {
		font-size: 18px;
		line-height: normal;
	}
	.blog_medium .post_meta h2 a {
		font-size: 20px;
		line-height: normal;
	}
	.blog_large .post_meta h2, .blog_medium .post_meta h2, .blog_single .post_meta h2
		{
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.blog_large .day, .blog_medium .day, .blog_single .day {
		font-size: 20px;
	}
	.blog_large .month, .blog_medium .month, .blog_single .month {
		padding: 2px 8px 4px;
	}
	.blog_large .post_img, .blog_single .post_img {
		margin-bottom: 20px;
	}
	.blog_large .post_content, .blog_single .post_content {
		margin: 0 0 0 60px;
	}
	.blog_large .post_meta .metaInfo, .blog_single .post_meta .metaInfo {
		padding: 0 0 10px;
	}
	.blog_large .post_meta .metaInfo>span, .blog_single .post_meta .metaInfo>span
		{
		line-height: 24px;
	}
	.blog_large .post, .blog_medium .post, .blog_single .post, .blog_medium .post
		{
		margin-bottom: 40px;
		padding-bottom: 40px;
	}
	.blog_medium .post_content {
		float: left;
		width: 100%;
	}
	.blog_medium .post_img {
		margin-right: 0;
		width: 75%;
		margin-bottom: 30px;
	}
	.sidebar .widget {
		display: inline-block;
		margin-top: 30px;
		position: relative;
	}
	.shareslabel {
		display: none;
	}
	.author_desc {
		height: auto;
		min-height: inherit;
		width: 100%;
	}
	.author_bio {
		float: none;
		margin-top: 35%;
		padding: 20px;
		position: relative;
		text-align: center;
		width: 100%;
	}
	#comment-list ul.children {
		margin-left: 10px;
	}
	.comment-container {
		margin-left: 80px;
		margin-bottom: 10px;
	}
	.comment_form>input {
		width: 100%;
	}
	.page_404>h1 {
		font-size: 160px;
		line-height: 180px;
		margin-top: 0;
	}
	.page_404>p {
		font-size: 26px;
		line-height: 36px;
	}
	.rec_blog {
		margin-bottom: 20px;
	}
	.copyright {
		text-align: left;
		float: left;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.large-images .recent-item:hover a.hover-zoom, .medium-images .recent-item:hover a.hover-zoom,
		.small-images .recent-item:hover a.hover-zoom {
		left: 37%;
	}
	.large-images .recent-item:hover a.hover-link, .medium-images .recent-item:hover a.hover-link,
		.small-images .recent-item:hover a.hover-link {
		right: 37%;
	}
	.jcarousel  .recent-item:hover a.hover-zoom {
		left: 37%;
	}
	.jcarousel  .recent-item:hover a.hover-link {
		right: 37%;
	}
	.author_bio {
		margin-top: 35%;
		position: relative;
	}
}

@media only screen and (max-width: 480px) {
	.team_social {
		margin: 37% 0 0 31%;
	}
	.large-images .recent-item:hover a.hover-zoom, .medium-images .recent-item:hover a.hover-zoom,
		.small-images .recent-item:hover a.hover-zoom {
		left: 37%;
	}
	.large-images .recent-item:hover a.hover-link, .medium-images .recent-item:hover a.hover-link,
		.small-images .recent-item:hover a.hover-link {
		right: 37%;
	}
	.jcarousel  .recent-item:hover a.hover-zoom {
		left: 37%;
	}
	.jcarousel  .recent-item:hover a.hover-link {
		right: 37%;
	}
	.author_bio {
		margin-top: 55%;
		position: relative;
	}
	#filter li a {
		padding: 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 989px) {
	html {
		-webkit-overflow-scrolling: touch;
	}
}

/***************************
 PARTI DI STILE CUSTOMIZZATO
 ***************************/
.align_center {
	text-align: center;
}

@media only screen and (min-width: 750px) {
	.widget_content {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.container_footer {
		width: 750px !important;
	}
}

.widget_content {
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
	position: relative;
	background-size: cover;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 -1px 5px rgba(0, 0, 0, 0.6);
}

.padding_bottom_20px {
	padding-bottom: 20px;
}

.marging_20px {
	margin-top: 20px;
}

.col-top {
	vertical-align: top;
}

.col-middle {
	vertical-align: middle;
}

.col-bottom {
	vertical-align: bottom;
}

.row-same-height {
	display: table;
	width: 100%;
	height:80px;
	/* fix overflow */
	table-layout: fixed;
}

.col-height {
	display: table-cell;
	float: none !important;
}

.bs-panel {
	padding-top: 20px;
}

html, body {
	/*width: 98%;*/
	background: none repeat scroll 0 0 #323a45;
}

.footer {
	width: 100%;
	bottom: 0px;
	padding-bottom: 43px;
}

.container_min_height {
	min-height: 325px;
}

.panel_min_height {
	min-height: 280px;
}

.sfondo_body {
	background: none repeat scroll 0 0 #FFFFFF;
}

.panel_padding_l_r {
	padding-left: 5%;
	padding-right: 5%;
}

.content_filters {
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
}

.allineamento_label {
	text-align: right;
}

@media only screen and (max-width: 768px) {
	.allineamento_label {
		text-align: left;
	}
	.allineamento_dynamic_table {
		text-align: left;
	}
}

.modal-dialog {
	z-index: 99999;
}

.colore_sfondo_accordion {
	background: none repeat scroll 0 0 #EEF8FF !important;
}

.colore_sfondo_errori {
	background: none repeat scroll 0 0 #f2dede !important;
}

.cursor_pointer {
	cursor: pointer;
}

.cursor_pointer:hover {
	color: #0099cc;
}

.disabilitato {
	background-color: #eee !important;
	cursor: not-allowed;
	opacity: 1;
}

.color_white {
	color: #fff;
}

.color_warning {
	color: #8a6d3b;
}

.color_info {
	color: #69f;
}

.truncate_text {
	text-overflow: ellipsis;
}

.uppercase {
	text-transform: uppercase;
}

.nascondi_elemento {
	display: none;
}

.margin_bt_0px {
	margin-bottom: 0px;
}

.text_wrap_hidden {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.uppercase {
	text-transform: uppercase;
}

i.indicator {
	line-height: 30px;
}

.glyphicons-lg {
	font-size: 18px;
	line-height: 30px;
}

.override-pull-right {
	margin-top: 59px !important;
}

.obj-system-errore {
	display: block !important;
	margin-top: 3px;
}

.padding-top-bottom-30px {
	padding-top: 30px;
	padding-bottom: 30px;
}

/**********
TEMA
 **********/
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li.active>a,
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
	background: #0099cc !important;
}

@media only screen and (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		background: #0099cc;
	}
}

.navbar-nav>li>ul:before {
	border-bottom-color: #0099cc;
}

.navbar-nav>li ul>li:first-child {
	border-top: 2px solid #0099cc;
}

.navbar-nav .dropdown-menu>li>a:hover {
	color: #0099cc;
}

a, .panel-heading:hover  a {
	color: #0099cc;
}

.btn-default:hover, .theme-color-pt .btn-default:hover {
	background-color: #00a2d7;
}

.form-control:focus, #site-searchform #s:focus {
	border-color: #0099cc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(0, 153, 204, 0.6);
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	background: #0099cc;
	border-color: #0099cc;
}

/**********
 HEADER.CSS
 **********/
.logo-regione {
	display: block;
	width: 325px;
	top: 15px;
	left: 0px;
}

.intestazione {
	line-height: 0;
	height: 76px;
}

.header_middle {
	background: #FFFFFF url('../img/bgHeader.png') repeat-x 0 0;
}

.title {
	font-family: Lato, Georgia, Serif, Geneva, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 22px;
}

span.utente {
	font-size: 15px;
	padding-right: 1%;
	font-weight: bold;
	font-family: Lato, Georgia, Serif, Verdana;
}

.sub-title {
	font-family: Open Sans, Lato, Georgia, Serif, Geneva, Arial, Helvetica,
		sans-serif;
	font-style: italic;
	font-size: 18px;
}

/* SELECT.CSS */
.bootstrap-select .dropdown-menu>.active>a, .bootstrap-select .dropdown-menu>.active>a:hover,
	.bootstrap-select .dropdown-menu>.active>a:focus {
	background-color: #428bca;
}

.bootstrap-select .btn-default:hover, .bootstrap-select .theme-color-pt .btn-default:hover
	{
	background-color: #ffffff;
}

.bootstrap-select .btn-default {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
		ease-in-out 0s;
	width: 100%;
	border-radius: 0;
	height: 46px;
	margin-bottom: 10px;
	padding: 12px;
}

.bootstrap-select .btn-default:focus {
	border-color: #0099cc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(0, 153, 204, 0.6);
}

.divOver {
	width: 100%;
	height: 43px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background: #323a45;
	cursor: default;
	z-index: 9999999999991;
	padding-top: 6px;
	text-align: center;
}

button .btn-default {
	color: #fff;
}

.alert-danger {
	background-color: #d9534f !important;
	border-color: #d43f3a;
	color: #FFF !important;
}

div.alert-danger .modal-title {
	color: #FFF !important;
}

div.alert-danger .close {
	color: #FFF !important;
	opacity: 10;
}

.alert {
	padding: 12px !important;
}

.v_align_top {
	vertical-align: top;
}

.red-bold {
	color: red;
	font-weight: bold;
}

.input-group-btn .btn-mock-group {
	border: 1px solid #ccc;
	height: 46px;
}

.input-group-addon:last-child {border
	
}

.underline {
	text-decoration: underline;
}

.footer a:hover {
	color: #0099cc !important;
}

.footer a {
	color: #FFF !important;
}

.hidden-header-table {
	text-align: center;
	background: #323a45 none repeat 0 0;
	border: 1px solid #ccc;
	padding: 6px;
	background: #333 none repeat scroll 0 0;
	color: white;
	font-weight: bold;
}

.first-row td {
	text-align: center;
}

.panel-margin {
	margin: 20px;
}

.panel-padding {
	padding: 20px;
}

.clickable {
	cursor: pointer;
	color: #1594ae;
}

.clickable:hover {
	color: #00a2d7;
}

.unclickable {
	pointer-events: none;
	color: #ccc;
}

.red {
	color: red;
}

.green {
	color: green;
}

.disabled {
	pointer-events: none;
	opacity: 0.6; 
}

.margin10{
	margin-top:10px;
}

.margin40{
	margin-top:40px;
}

.divisor{
	margin-top:150px;
	border-top: 3px solid #eee !important;
}

.nowrap {
	white-space: nowrap;
}
.margin20{
	margin-top:20px;
}
.height40{
	height:40px !important;
}

.large{
	width:70px;
}

.largeDate{
	width:150px;
}
.descrizione_titolo{
	border:1px solid black;
	display:none;
}
.bootpag-centre{
	position:relative;
	padding-left:12%;
}
.iconFormat{
	color:green;
	font-size:20px;
}
.iconFormatRed{
	color:red;
	font-size:20px;
}
.borderRed{
	border:2px solid red;
}
.dettaglioDomanda{
	cursor:pointer;
}
.editTitolo{
	cursor: pointer;
}
.none{
	display:none;
}
#alert_age{
	text-align:center;
	margin-top:5px;
}
.posiz_alert{
	position:relative;
	left:60%;
	color: #8a6d3b;    
	background-color: #fcf8e3;    
	border-color: #faebcc;
}
.cc-selector-2 input{
    position:absolute;
    z-index:999;
}
.size40{
	font-size:40px;
}
.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-repeat:no-repeat;
    display:inline-block;
    width:90px;height:70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
   -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
   -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
   filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.cc-selector-2 input{ 
	margin: 5px 0 0 12px; 
}
.cc-selector-2 label{ 
	margin-left: 7px;
}
span.cc{ 
	color:#6d84b4
}
.selectedRow{
	background-color:lightgoldenrodyellow !important;
}
.duplica{
	margin-left:25%;
	margin-right:25%;
	width:50% !important;
}
.dettaglioClickable{
	cursor:pointer;
}

.positioncheckbox{
	position:relative;
	margin-top:0px;
}

.positionTable{
	padding-left: 4%;
    padding-right: 4%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.posizDomicilio{
	position:relative;
	left:90px;
}

.centraCont{
	padding: 5px;
	right: 48px;
	position: relative;
	font-size: 9px;
}

.pos{
	padding-left: 0px;
}

.boxContemp {
padding: 30px;
margin-bottom: 40px;
overflow-y: hidden;
}

.posAnno{
	position: relative;
    left: 10%;
    top: 9px;
    font-size: 15px;
}